<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Upload questionnaire as JSON</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="create/type/json" method="post" encType="multipart/form-data">
                <div class="modal-body">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="jsonUpload" accept=".json" name=questionnaire>
                        <label class="custom-file-label" for="jsonUpload">Choose JSON file</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary"></input>
                    <a class="btn btn-info" href="/resources/empty_questionnaire.json" download="example_questionnaire.json">Example JSON</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
